body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products-container{
  display: flex;
}

.products-list{
  width: calc(100% - 150px);
}

.products-sort{
  width: 150px;
  margin-top: 15px;
}

.products-sort button{
  width: 120px;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.product-card{
  display: flex;
  padding: 25px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.product-image{
  width: 30%;
  min-width: 300px;
  height: auto;
}

.product-image img{
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.product-description{
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  color: #343A40;
}

.product-options{
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.rating-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  background-color: #388E3C;
  color: #fff;
  border-radius: 3px;
}

.rating{
  margin-right: 3px;
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.star-icon{
  display: inline-block;
  font-size: 8px;
}

.price{
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
}

.add-to-cart{
  background-color: #388E3C;
  color: #fff;
  border: 0;
  border-radius: 5px;
  width: 150px;
  white-space: nowrap;
  padding: 3px 5px;
}

.cart-size{
  font-size: 14px;
  display: inline-block;
}

.cart-empty{
  display: flex;
  justify-content: center;
  font-size: 48px;
  letter-spacing: 5px;
  word-spacing: 10px;
  margin-top: 75px;
}

#add-product-form{
  width: 640px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-group{
  margin:10px;
  display: flex;
  flex-direction: column;
}

.custom-input{
  padding: 10px;
  border-radius: 5px;
}

.input-group label{
  font-weight: bold;
  letter-spacing: 1px;
}

.input-button-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.input-button-group button{
  padding: 8px 5px;
  margin: 5px 10px;
  width:125px;
  border: 0px;
  border-radius: 5px;
  color: white
}

.page-heading{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
  margin: 15px 15px 25px;
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.options > div {
  font-size: 16px;
  padding: 5px;
  margin: 2px 0;
  border-radius: 2px;
  width: 85px;
}

.options-button:hover{
  cursor: pointer;
  background-color: rgba(55, 55, 55, 0.1);
}

.edit-icon{
  color: #9CACC3;
}

.delete-icon{
  color: #C9302C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.description::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.description {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}